@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --header-height: 55px;
  --footer-height: 65px;
}

body {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  all: initial;
}

img {
  width: 100%;
}

.main {
  width: 100%;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
}

.align-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  max-width: 700px;
  width: 100%;

  left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  z-index: 1;
}

.header-align-container {
  position: relative;
  width: 100%;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}

.header-align-container .logo-container {
  cursor: pointer;
  position: absolute;
  width: 90px;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
}

.logo-container .back-con {
  width: 22px;
}

.header-align-container .title {
  /* text-align: center; */
  /* line-height: calc(var(--header-height) - 5px); */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 700px;

  background: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer .footer-align-container {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer-align-container .home-con,
.footer-align-container .style-con,
.footer-align-container .closet-con,
.footer-align-container .profile-con {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  transition: all 0.1s ease-in-out;
}

.footer-align-container .home-con:hover,
.footer-align-container .style-con:hover,
.footer-align-container .closet-con:hover,
.footer-align-container .profile-con:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.home-con .home-img,
.style-con .style-img,
.closet-con .closet-img,
.profile-con .profile-img {
  width: auto;
  height: 20px;
}

.home-con .home-img img,
.style-con .style-img img,
.closet-con .closet-img img,
.profile-con .profile-img img {
  width: 100%;
  height: 100%;
}

.home-con p,
.style-con p,
.closet-con p,
.profile-con p {
  font-size: 0.7rem;
}

.home-con p.select,
.style-con p.select,
.closet-con p.select,
.profile-con p.select {
  color: #0075ff;
  font-weight: bold;
}
