<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Style Fit</title>
    <link rel="stylesheet" href="./static/css/common.css" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <script defer src="./static/js/common.js"></script>
  </head>
  <body>
    <div class="align-container">
      <header class="header">
        <div class="header-align-container">
          <div class="logo-container">
            <div class="back-con">
              <img src="./static/img/back.png" alt="back" />
            </div>
          </div>
          <div class="title">Style Fit</div>
        </div>
      </header>
      <main class="main"></main>
      <footer class="footer">
        <div class="footer-align-container">
          <!-- 홈 -->
          <a href="/" class="home-con">
            <div class="home-img">
              <img src="./static/img/home.png" alt="home" />
            </div>
            <p>홈</p>
          </a>
          <!-- 코디 -->
          <a href="/" class="style-con">
            <div class="style-img">
              <img src="./static/img/style-select.png" alt="style" />
            </div>
            <p class="select">스타일</p>
          </a>
          <!-- 옷장 -->
          <a href="/" class="closet-con">
            <div class="closet-img">
              <img src="./static/img/closet.png" alt="closet" />
            </div>
            <p>옷장</p>
          </a>
          <!-- 프로필 -->
          <a href="/" class="profile-con">
            <div class="profile-img">
              <img src="./static/img/profile.png" alt="profile" />
            </div>
            <p>프로필</p>
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
