<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Style Fit</title>
    <link rel="stylesheet" href="./static/css/common.css" />
    <link rel="stylesheet" href="./static/css/style.css" />
    <script defer src="./static/js/common.js"></script>
    <script defer src="./static/js/style.js"></script>
  </head>
  <body>
    <div class="align-container">
      <header class="header">
        <div class="header-align-container">
          <div class="logo-container">
            <div class="back-con">
              <img src="./static/img/back.png" alt="back" />
            </div>
          </div>
          <div class="title">Style Fit</div>
        </div>
      </header>
      <main class="main">
        <!-- 오늘의 추천 아이템 -->
        <div class="today-recommend-container">
          <p class="title">오늘의 추천 아이템</p>
          <div class="item-container">
            <div class="item-align-con fade">
              <div class="item-img-con">
                <img src="./static/img/style1.png" alt="style1" />
              </div>
              <p class="item-name">크림 니트</p>
              <p class="item-detail">
                오늘 같은 쌀쌀한 날씨에 딱 맞는 따뜻하고 부드러운 니트예요.
                심플한 디자인으로 다양한 코디에 활용하기 좋아요.
              </p>
            </div>
            <div class="btn-diff-item">
              <div class="diff-item-img">
                <img src="./static/img/swap.png" alt="swap" />
              </div>
              <p>다른 아이템 보기</p>
              <p class="count">1/3</p>
            </div>
          </div>
        </div>
        <!-- 건강 & 보조 아이템 추천 -->
        <div class="health-recommend-container">
          <p class="title">건강 & 보조 아이템 추천</p>
          <div class="health-con">
            <div class="health1-con">
              <div class="health1-img-con">
                <img src="./static/img/mask.png" alt="mask" />
              </div>
              <div class="health1-info-con">
                <p>마스크 착용 권장</p>
                <p>미세먼지가 나쁜 날이에요. 마스크를 꼭 챙겨보세요.</p>
              </div>
            </div>
            <div class="health2-con">
              <div class="health2-img-con">
                <img src="./static/img/uv-protect.png" alt="uv" />
              </div>
              <div class="health2-info-con">
                <p>자외선 차단</p>
                <p>
                  오늘은 자외선이 낮지만, 외출 시 선크림을 바르는 것을 추천해요.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 나의 취향 설정 -->
        <div class="my-favorite-container">
          <p class="title">나의 취향 설정</p>
          <div class="bad-item">
            <p>회피 아이템</p>
            <p class="tag">
              <span>#민소매</span><span>#반바지</span><span>#탑</span>
            </p>
          </div>
          <div class="style">
            <p>스타일</p>
            <p class="tag"><span>#캐주얼</span><span>#심플</span></p>
          </div>
          <div class="btn-edit">
            <div class="edit-img">
              <img src="./static/img/edit.png" alt="edit" />
            </div>
            <p>수정</p>
          </div>
        </div>
        <!-- 오늘의 코디 예시 -->
        <div class="today-style-ex-con">
          <p class="title">오늘의 코디 예시</p>
          <div class="today-style-align-con">
            <div class="today-style-img-con">
              <img src="./static/img/today-style.png" alt="today style" />
              <div class="favorite">
                <img src="./static/img/favorite.png" alt="star" />
              </div>
            </div>
            <div class="today-style-info-con">
              <p class="title">코디 구성</p>
              <div class="top">
                <p>상의:</p>
                <p class="name">크림 니트</p>
              </div>
              <div class="bottom">
                <p>하의:</p>
                <p class="name">흑청 데님</p>
              </div>
              <div class="outer">
                <p>아우터:</p>
                <p class="name">숏 패딩</p>
              </div>
              <div class="shoes">
                <p>신발:</p>
                <p class="name">화이트 스니커즈</p>
              </div>
            </div>
            <div class="btn-favorite">
              <div class="favorite-img">
                <img src="./static/img/star.png" alt="favorite" />
              </div>
              <p>이 코디를 즐겨찾기로 저장하기</p>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="footer-align-container">
          <!-- 홈 -->
          <a href="/" class="home-con">
            <div class="home-img">
              <img src="./static/img/home.png" alt="home" />
            </div>
            <p>홈</p>
          </a>
          <!-- 코디 -->
          <a href="/" class="style-con">
            <div class="style-img">
              <img src="./static/img/style-select.png" alt="style" />
            </div>
            <p class="select">스타일</p>
          </a>
          <!-- 옷장 -->
          <a href="/" class="closet-con">
            <div class="closet-img">
              <img src="./static/img/closet.png" alt="closet" />
            </div>
            <p>옷장</p>
          </a>
          <!-- 프로필 -->
          <a href="/" class="profile-con">
            <div class="profile-img">
              <img src="./static/img/profile.png" alt="profile" />
            </div>
            <p>프로필</p>
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
